[user]
	name = Andrei Nicolae
	email = andreiant.nicolae@gmail.com

[core]
	editor = vim
	autocrlf = input

[pull]
	rebase = true

[alias]
	st = status
	co = checkout
	br = branch
	lg = log --oneline --graph --decorate -20
	undo = reset HEAD~1 --soft

[color]
	ui = auto
